# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Database
db.sqlite3

# Django static and media files
staticfiles/
media/

# Environment variables
.env

# Logs
*.log

# IDE files
.vscode/
.idea/
*.swp
